# don't ever lint node_modules
node_modules/
# don't lint next output (make sure it's set to your correct build folder name)
.next/
# do not lint .idea
.idea/
# do not lint cypress
cypress/
# do not lint storybook and stories
.storybook
stories/
